*{
  box-sizing: border-box;
}
html {
  font-family: 'Poppins', sans-serif;}

body {
  
}
header {
  padding: 2px 0;
  text-align: center;
  background-color: beige;
  color: black;  
  width: 100vw;
  
}
main{
  max-width: 60vw;
  margin: 0 auto ;
  margin-top: 20vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
width: 100vw;
  
}

nav > a {
  color: white;
}

img{
  width: 200px;
  transition: 1s ease-in-out;
}

img:hover {

  width: 500px;
}